@-webkit-keyframes display-icon {
    0%   {
    padding-top: 0;
  }
100%   {
    padding-top: 40%;
  }
}
section{
}
body{
    text-align: center;
    color: #616161;
}
h3{
    padding-top: 80px;
    color: #2980b9;
}
.home-portfolio-section, .home-office-section, .home-contact-section, h3{
    color: white;
}
.section-opacity{
    background: rgba(0,0,0,0.5);
    height: 100%;
}
hr {
    margin-left: auto;
    margin-right: auto;
    margin-top: -3px;
    height: 5px;
    background: #2980b9;
    width: 40px;
    border-top-color: #2980b9;
}
#office hr, #team hr{
  margin-top: -30px;
}
/*--------------  header section-------------------*/
.home-header-section{
    background-image: url(../Images/hero-01.jpg);
    background-position: center;
    background-size: cover;
    color: rgba(255,255,255,0.8);
    height: auto;
    clip-path: polygon(0 0%, 0 700px, 50% 100%, 100% 700px, 100% 0);
}
.navbar-inverse{
    background: none; !imaportant;
    border: none;
}
.navbar-right ul li a{
    color: rgba(255,255,255,0.7);
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background: transparent;

}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border: transparent;
    border-color: none;
}
.navbar-collapse{
    box-shadow: none;
}
.arrow-logo{
    padding-top: 200px;
    margin: auto 0;
    padding-bottom: 25px;
    width: 75px;

}
.text-center a{
    padding-top: 8px;
    border: solid 1px white;
    border-radius: 5px;
    display: inline-table;
    width: 125px;
    height: 35px;
    color: rgba(255,255,255,0.7);
    margin-top: 7px;
}
.scroll-down{
    padding-top: 200px;
    padding-bottom: 50px;
}
.scroll-down a{
  border: none;
}
/*--------------  service section-------------------*/
.home-service-section h3, .home-team-section h3, .home-client-section h3{
    color: #2980b9;
    padding-top: 25px;
}
.home-service-section img, h4{
    padding-bottom: 10px;
}
.home-service-section img{
    padding-top: 50px;
}
/*--------------  portfolio section-------------------*/
.home-portfolio-section{
    background-image: url(../Images/hero-02.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    height: auto;
    clip-path: polygon(0 0, 0 625px, 50% 100%, 100% 625px, 100% 0, 50% 75px);
}
.portfolio-box{
    padding-top: 50px;
    padding-bottom: 200px;
}
.home-portfolio-section img{
    height: 100%;
    width: 100%;
}
.image{
  padding-left: 0px;
   position: relative;
   height: 175px;
   width: 250px;
}
.image p{
  color: white;
  top: 20%;
  left: 10%;
  position: absolute;
  font-size: 20px;
  display: none;
}
.image i{
  top: 55%;
  left: 38%;
  position: absolute;
  color: rgb(92,153,193);
  background: white;
  border-radius: 100%;
  padding-top: 2%;
  height: 30%;
  width: 25%;
  display: none;
}
.image:hover p, .image:hover i{
  display: block;
}
.image .after-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image:hover .after-image {
    display: block;
    background: rgba(92,153,193,0.8);
}


/*--------------  team section-------------------*/
.home-team-section{
    height: auto;
}
.team-section-box{
    padding-top: 50px;
    padding-bottom: 200px;
}
.team-box p{
    color: #2980b9;
}
.team-box i{
    color: #2980b9;
}
.team-box-img1:hover .team-box-opacity, .team-box-img2:hover .team-box-opacity, .team-box-img3:hover .team-box-opacity, .team-box-img4:hover .team-box-opacity {
    height: 100%;
    width: 100%;
    background: rgba(92,153,193,0.5);
    animation-name: display-icon;
    animation-duration: 1.2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
.team-box-opacity:hover a {
  display: inline-block;
  background: white;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  padding-top: 6px;
}
.team-box-opacity a{
  display: none;
}
.team-box-img1{
    background-image: url(../Images/team1.jpg);
    height: 160px;
    width: 160px;
    background-size: cover;
    background-position: center;
}

.team-box-img2{
    background-image: url(../Images/team2.jpg);
    height: 160px;
    width: 160px;
    background-size: cover;
    background-position: center;
}

.team-box-img3{
    background-image: url(../Images/team3.jpg);
    height: 160px;
    width: 160px;
    background-size: cover;
    background-position: center;
}

.team-box-img4{
    background-image: url(../Images/team4.jpg);
    height: 160px;
    width: 160px;
    background-size: cover;
    background-position: center;
}
.team-box p
{
  margin-bottom: -5px;
  margin-top: 5px;
}
.team-box-icon:hover{
    height: 150px;
    width: 150px;
    background: rgba(97,157,198,0.5);

}
/*--------------  office section-------------------*/
.home-office-section{
    background-image: url(../Images/hero-03.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    clip-path: polygon(0 0, 0 425px, 50% 100%, 100% 425px, 100% 0, 50% 75px);
}
.home-office-section h3, .home-team-section h3{
    padding-bottom: 25px;
}
/*--------------  client section-------------------*/
.home-client-section{
    height: auto;
}
.home-client-section img{
    width: 100px;
    margin: auto;
}
.client-box{
    padding-top: 25px;
}
.client-box img:hover{
    cursor: pointer;
}
.client-box-navigate{
    margin-top: 5px;
    border: solid 0.5px #2980b9
}
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}
.carousel-control.left, .carousel-control.right{
    background: none;
}
.glyphicon{
    color: #2980b9;
}
/*--------------  contact section-------------------*/
.home-contact-section{
    background-image: url(../Images/hero-04.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    clip-path: polygon(0 0, 0 100%, 50% 100%, 100% 100%, 100% 0, 50% 75px);
}
.contact-box{
    padding-top: 25px;
}
.home-contact-section a img{
    height: 100px;
    width: 100px;
}
.copy-right {
    padding-top: 150px;
}
@media only screen and (max-width: 1024px){
  body{
    font-size: 18px;
  }
  .image{
    width: 206px;
  }
  .team-box{
    width: 130px;
  }
  .team-box-img1, .team-box-img2, .team-box-img3, .team-box-img4{
    width: 130px;
  }
  .client-box img{
    width: 90px;
    margin-left: -10px;
  }
}
@media only screen and (max-width: 786px){
  section{
    height: auto;
  }
  nav ul li a{
    text-align: right;
  }
  .home-contact-section, .home-portfolio-section,
  .home-office-section,
  .home-header-section{
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }
  .image i{
  
  }
  .image{
    width: 123%;
  }
  .team-section-box{
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .team-box{
    padding-bottom: 25px;
    margin-left: 75px;
  }
  .team-box{
    text-align: center;
  }
  .team-box p
  {
    margin-bottom: -5px;
    margin-top: 5px;
  }
  .portfolio-box{
    margin-bottom: 25px;
  }
  .client-box img{
    width: 80%;
    height: 80%;
  }
  .home-service-section img{
    height: 100px;
    width: 50px;
  }
  .client-box-navigate{
    display: none;
  }
}
